{% extends "urlexpander/base.html" %}

{% block content %}
	<p>Original URL: <b><a href="{{ url.original }}">{{ url.original }}</a></b></p>
	<p>Destination URL: <b><a href="{{ url.destination }}">{{ url.destination }}</a></b></p>
	<p>HTTP Status: <b>{{ url.httpstatus }}</b></p>
	<p>Title: <b>{{ url.title }}</b></p>
	<p>Web Capture IMG: <img src="{{ url.screenshot }}" alt=""></p>
	<form>
		<button type="submit" formaction="{% url 'url_remove' pk=url.pk %}">
			Delete
		</button>
        <form method="POST">{% csrf_token %}
        <input type="submit" name="recap" value="Refresh screenshot">
    </form>
	</form>
{% endblock content %}